<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>792805435367-cq9l4397qn3bq0iv8honb7c7updtq2vt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.792805435367-cq9l4397qn3bq0iv8honb7c7updtq2vt</string>
	<key>API_KEY</key>
	<string>AIzaSyC9shCPuVlRuXo5dVe1qF5VkL04NEVhhso</string>
	<key>GCM_SENDER_ID</key>
	<string>792805435367</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>todoit-f3062</string>
	<key>STORAGE_BUCKET</key>
	<string>todoit-f3062.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792805435367:ios:bd581e9b7f72eb795d7f42</string>
</dict>
</plist>